.Phonetic {
	margin: 21px 0;
}

.Phonetic a {
	border: 1px solid #ddd;
	text-decoration: none;
	padding: 8px 15px;
	font-size: 15px;
	font-weight: bold;
	border-radius: 20px;
	transition: all 150ms ease-in-out;
	color: pink;
}

.Phonetic .pronounce {
	color: white;
	margin-left: 30px;
	font-size: 20px;
}

.Phonetic a:hover {
	background: #5e63b6;
	color: white;
}
